html{
  width: 100%;
  background: #fff;
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.choice-container:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transform: transform 150s;
}
.choice-container{
  display: flex;
  margin-bottom: 0.5rem;
  width:100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
}
.container h2{
  color: black;
}
.choice-prefix{
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}
.choice-text{
  padding: 1.5rem;
  color: black;
  width: 100%;
}
.correct{
  background-color: #28a745;
}
.incorrect{
  background-color: #dc3545;
}
.hud-prefix{
  font-size: 2rem;
  text-align: center;
  color: black;
}
#hud{
  display: flex;
  justify-content: space-between;
}
.hud-main-text{
  text-align: center;
}
#progressBar{
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #5685eb;
  margin-top: 1.5rem;
}
#progressbarfull{
  height: 3.4rem;
  background-color: #5685eb;
  width: 0;
}
#loader{
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #56a5eb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.container{
  background-color: white;
}

#time{
  margin-top:2rem;
  margin-left: 1.9rem;
}
#hud-item{
  margin: 2rem;
}
#move{
  display: flex;
  justify-content: space-between;
  margin-top: 1.2rem;
}
@media (max-width: 768px){
  /* Styles for tablets and smaller devices */
  #hud{
    font-size: 14px;
  }
}
#remark{
  color: #56a5eb;
  font-size: 1.5rem;
  font-weight: bold;
  transition: opacity 1s ease-in-out;
}

#topic{
  text-align: center;
  font-size: 2.5rem;
  color: #56a5eb;
  transition: opacity 2s ease-in-out;
}